# Node
node_modules/
npm-debug.log*

# Build
dist/
build/

# Logs
logs/
*.log

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.vscode/
.idea/

# Sistema Operacional
.DS_Store
Thumbs.db

# Java
target/
*.class
*.jar
*.war

# Maven
.mvn/wrapper/maven-wrapper.jar

# Gradle
.gradle/
build/

# IntelliJ
*.iml
out/

# Eclipse
.project
.classpath
.settings/

# VS Code
.history/

# React Native
android/.gradle/
android/app/build/
ios/build/

# Coverage
coverage/